﻿@model Catharsium.SignalR.Models.ContractModel

@{
    ViewBag.Title = "title";
    // Layout = "_Layout";
}
<script src="~/main.js"></script>

<h2>Contract</h2>

<div>@Model.CompanyName</div>
<div>@Model.EhLevel</div>

<div id="actions">
</div>

<button id="checkDiscount">Check discount</button>
